/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: left;
}

.configuration {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
}

.label-input label, .evaluation label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-container input, .configuration input, .evaluation select {
    margin-left: auto;
    margin-right: 5%;
    display: block;
}

.select {
    margin-left: auto;
    margin-right: 5%;
    display: block;
}

.container {
    width: 90%;
    margin: auto;
}

.evaluation {
    display: grid;
    grid-template-columns: 25% 5% 29% 33%;
    align-items: center;
}

.seasons {
    margin-left: 5%;
}

.search-container {
    display: grid;
    grid-template-columns: 30% 67%;
    justify-content: space-between;
}

input, select, button {
    margin: 5px 0;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto auto;
}

.button:hover {
    background-color: #0056b3;
}

#map {
    height: 400px;
    width: 100%;
    display: none;
    margin-top: 20px;
}
