name: Build Docker Image and push to GHCR

# Trigger the workflow on push events to the main branch  
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Build Docker Image and push to GHCR
    runs-on: ubuntu-latest  

    steps:
      # Checkout the repository
      - name: Checkout the files
        uses: actions/checkout@v4

      # Log in to GitHub Container Registry
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      # Build and push Docker image
      - name: Build App Docker image and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/LauraSchuhmacher/ClimateDataAnalyzer:latest